html {
    background: url(Images/background.jpg);
}

.header img {
    border-radius: 360%;
    background-size: contain;
    height: 20%;
    width:30%;
    margin-top: 50px;
    
}

#first {
    position: absolute;
    width:600px;
    height:1000px;
    background-color:#FFFFF0;
    color:#696969;
    margin:-1px 350px -10px 320px;
    text-align: center;
}

#name {
    font-family: Courier monospace;
    font-size: 50px;
    color:#FF0000;
}

.text {
    margin-top:-30px;
}

.text p {
    color:#808080;
    font:impact cursive sans-serif;
    transition:transform 0.8s ease-out; 
}

.text:hover{
    cursor: pointer;
    transform:scale(2) rotate(360deg);
}

.navbar{
    position:relative;
    margin:40px 60px 20px 80px;
    text-align:center;
    opacity:0.5;
}

button{
    display: block;
    height: 50px;
    width: 300px;
    border:0.5px;
    margin: -10px 30px -5px 30px;
    font:Helvetica 30px;
    background-color:#DCDCDC;
    color:#696969;
    text-align:center;
}

.navbar button:focus {
    background-color: #B0E0E6;
}

@media screen and (max-width:800px){
    body {
        max-width:1200px;
        margin: auto;
    }
   
    header {
        max-width:600px;
    }

    }
    nav button {
        max-width:600px;
    }
   
@media screen and (max-width:600px) {
    html background {
        display: none;
    }
    
    
    body {
        float:left;
        max-width: 1200px;
       
    }
    
    #first {
        float:left;
        max-width:400px;
     
    }
    
    header {
        max-width: 200px;
        margin: auto;
    }
    article {
        max-width: 200px;
    }
    
}   
    





    
    
    
    
    
    
    
