 html {
     background-image:url(Images/ancor.jpg);
 }
 .wrapper {
     position:absolute;
     background-color:#FFFFE0;
     width:80%;
     height:1000px;
     margin:2px 50px 2px 100px;
     border-radius:15px;
     text-align:center;
     opacity:0.9;
 }
 
 hr {
     text-align:center;
     width:300px ;
     color:#2F4F4F;
 }

 .header {
     text-align:center;
     
 }
#flex {
    display:-webkit-flex;
    display: flex;
}


img {
    width:200px;
    height:200px;
}
ul li {
    text-align:no repeat left center;
}

 
 
 .head {
     font:Courier sans-serif;
     font-size:30px;
 }

 
